case $(uname) in
Linux)
    alias ls='ls --color=auto'
    alias du1='du -h --max-depth=1'
    alias startsa='eval "$(start-ssh-agent)"'
    alias stopsa='eval "$(stop-ssh-agent)"'
    alias connectsa='eval "$(connect-ssh-agent)"'
    ;;
Darwin)
    alias ls='ls -G'
    alias du1='du -h -d1'
    ;;
Cygwin)
    alias open=cygstart
    ;;
*)
    ;;
esac

alias la='ls -aF'
alias lt='ls -At'
alias ll='ls -alFh'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias df='df -h'
alias du='du -h'
alias diff='colordiff -u'
alias diffy='colordiff -y'
alias cdiff='colordiff -u'
alias cdiffy='colordiff -y'
alias tab='column -t -s"	"'
alias whence='type -a'
alias grep='grep --color --binary-file=without-match'
alias rdiff='rsync -nacOzivHS --delete'
alias new='ll -t | head'
alias ta='tmux attach'
alias R='R --quiet'
alias vim='vim --servername VIM'
