alias ls='ls --color=auto'
alias la='ls -aF'
alias lt='ls -At'
alias ll='ls -alFh'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias df='df -h'
alias du='du -h'
alias du1='du -h --max-depth=1'
alias diff='colordiff -u'
alias diffy='colordiff -y'
alias cdiff='colordiff -u'
alias cdiffy='colordiff -y'
alias less='less -iSR'
alias tab='column -t -s"	"'
alias whence='type -a'
alias grep='grep --color --binary-file=without-match'
alias rdiff='rsync -nacOzivHS --delete'
alias new='ll -t | head'

alias R='R --quiet'
