.gnupg/private-keys*
.gnupg/pubring.gpg
.gnupg/random_seed
.gnupg/secring.gpg
.gnupg/trustdb.gpg
.ssh/authorized_keys
.ssh/known_hosts
.vim/bundle/vim-git
.vim/bundle/vim-fugitive
.vim/bundle/vim-r-plugin
.vim/bundle/vim-eunuch
.vim/bundle/vim-markdown
.vim/bundle/vim-unimpaired
.vim/bundle/screen
.vim/bundle/vim-commentary
.vim/bundle/vim-sensible
.vim/bundle/vim-markdown-folding
.vim/bundle/tabular
.vim/bundle/vim-obsession
.vim/bundle/nerdtree
.vim/bundle/vim-repeat
.vim/bundle/bufexplorer
.vim/bundle/vim-airline
.vim/bundle/vim-colors-solarized
.vim/bundle/ctrlp.vim
.vim/bundle/vim-vividchalk
.vim/bundle/showMarks
.vim/bundle/changesPlugin
.vim/bundle/vim-sleuth
