[user]
	name = Shiv
	email = shvenkat@users.noreply.github.com
[github]
	user = shvenkat
[url "https://github.com"]
	insteadOf = git://github.com
[http]
	; sslCAinfo = /home/shvenkat/.certs/cacert.pem
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.rc/.gitignore.global
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[push]
	default = simple
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	pager = true
	showbranch = auto
	status = auto
	ui = auto
[color "branch"]
	current = bold magenta
	local = yellow
	upstream = green
	remote = normal
	plain = bold cyan
[color "diff"]
	plain = normal
	old = magenta
	new = cyan
	frag = green
	func = green
	meta = yellow
	commit = bold red
[color "grep"]
	context = bold cyan
	selected = normal
	match = blue
	filename = yellow
	function = green
	linenumber = white
	separator = magenta
[color "interactive"]
	prompt = bold magenta
	header = normal
	help = bold cyan
	error = red
[color "status"]
	header = normal
	added = bold magenta
	changed = yellow
	untracked = normal
	branch = bold magenta
	nobranch = bold red
	unmerged = magenta
; [log]
; 	decorate = full
[alias]
	; simple
	logs = log --format=format:'%h %<(10,trunc)%an %C(bold cyan)%s%C(reset) %C(green)%d%C(reset)'
	; repo overview
	logo = log --graph --all --simplify-by-decoration --date-order \
	         --format=format:'%h  %C(bold magenta)%<(6,trunc)%ar%C(reset) %<(10,trunc)%an  %C(bold cyan)%s%C(reset) %C(green)%d%C(reset)'
	; graph history
	logg = log --graph --date-order \
	         --format=format:'%h  %C(bold magenta)%<(6,trunc)%ar%C(reset) %<(10,trunc)%an  %C(bold cyan)%s%C(reset) %C(green)%d%C(reset)'
	; verify signatures
	logv = log --graph --date-order \
	         --format=format:'%h %C(bold red)%G?%C(reset)%GK  %<(6,trunc)%ar %<(10,trunc)%an  %C(bold cyan)%s%C(reset) %C(green)%d%C(reset)'
	; First common ancestor (as opposed to last common ancestor returned by merge-base)
	fca = !bash -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
