[core]
	editor = vim
	autocrlf = input
[http]
	; sslCAinfo = /home/shvenkat/.certs/cacert.pem
[github]
	user = shvenkat
[color]
	diff = auto
	status = auto
	ui = auto
	branch = auto
	interactive = auto
[color "diff"]
	plain = green bold
	old = magenta
	new = cyan
	frag = cyan bold
	func = cyan bold
	meta = yellow
	commit = red
[log]
	decorate = full
[alias]
	; simple
	logs = log --format=format:'%h %<(15,trunc)%aN %C(bold cyan)%s%C(reset) %C(green)%d%C(reset)'
	; repo overview
	logo = log --graph --all --simplify-by-decoration --date-order \
	         --format=format:'%h  %C(bold magenta)%<(16,trunc)%ar%C(reset) %<(15,trunc)%an  %C(bold cyan)%s%C(reset) %C(green)%d%C(reset)'
	; graph history
	logg = log --graph --date-order \
	         --format=format:'%h  %C(bold magenta)%<(16,trunc)%ar%C(reset) %<(15,trunc)%an  %C(bold cyan)%s%C(reset) %C(green)%d%C(reset)'
	; verify signatures
	logv = log --graph --date-order \
	         --format=format:'%h %C(bold red)%G?%C(reset)%GK  %<(14,trunc)%ar %<(15,trunc)%aN  %C(bold cyan)%s%C(reset) %C(green)%d%C(reset)'
	; First common ancestor (as opposed to last common ancestor returned by merge-base)
	fca = !bash -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[url "https://github.com"]
	insteadOf = git://github.com
