# Sensitive files.
gnupg/private-keys*
gnupg/pubring.gpg
gnupg/random_seed
gnupg/secring.gpg
gnupg/trustdb.gpg
ssh/authorized_keys
ssh/known_hosts

# MacOS cruft.
.DS_STORE

# Python files.
env/
.venv/
.mypy_cache/
__pycache__/
*.pyc

# Emacs.
ltximg/
