# KEY BINDINGS --------------------------------------------------------------

# set editing-mode vi

# "\C-a": beginning-of-line
# "\C-e": end-of-line
"\C-b": backward-word
"\C-f": forward-word
"\C-h": backward-kill-word
"\C-d": kill-word
# "\C-u": unix-line-discard
# "\C-k": kill-line
# "\C-p: previous-history
# "\C-n: next-history
"\C-r": reverse-search-history
"\C-t": history-search-backward

# VARIABLES -----------------------------------------------------------------

# Allow 8-bit input/output
# set meta-flag on
# set convert-meta off
# set input-meta on
# set output-meta on

$if Bash
  set bell-style none
  set completion-ignore-case on
  set show-all-if-ambiguous off
  set show-all-if-unmodified on
  # set expand-tilde on
  set match-hidden-files on
  set mark-directories on
  set mark-symlinked-directories on
  set visible-stats on
$endif
