## KEY BINDINGS --------------------------------------------------------------

# set editing-mode emacs

"\C-a": beginning-of-line
"\C-e": end-of-line
"\ef":  forward-char
"\eb":  backward-char
"\C-f": forward-word
"\C-b": backward-word
"\ew":  character-search
"\C-w": character-search-backward

"\eh":  delete-char
"\C-h": backward-delete-char
"\C-o": kill-word
"\C-l": backward-kill-word
"\ek":  kill-line
"\C-k": backward-kill-line

"\C-y": yank
"\ey":  yank-last-arg
"\e\C-y": yank-nth-arg
"\e ":  set-mark
"\ed":  kill-region
"\ec":  copy-region-as-kill

"\C-r": reverse-search-history
"\C-s": forward-search-history
"\C-t": history-search-backward
"\C-p": previous-history
"\C-n": next-history
"\e,":  beginning-of-history
"\e.":  end-of-history

"\C-u": undo
"\C-g": abort
"\C-v": quoted-insert
"\ei":  menu-complete
"\el":  redraw-current-line

## VARIABLES -----------------------------------------------------------------

# 8-bit input/output
set convert-meta Off
set enable-meta-key On
set input-meta On
set output-meta On
# set prefix-meta "ESC"

# set bind-tty-special-chars Off
set colored-stats On
set completion-ignore-case On
set completion-map-case On
# set enable-keypad On
set expand-tilde Off
# set isearch-terminators "C-[ C-j"
set mark-directories On
set mark-symlinked-directories On
set match-hidden-files On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set skip-completed-text On
set visible-stats On

$if Bash
  set bell-style none
$else
  set bell-style audible
$endif
