extends r

snippet com "Parse commandline arguments" b
parser <- ArgumentParser(description = "${0:desc}")
parser$add_argument('${1:arg}',
                    help = '${2:help}')
args <- parser$parse_args()
endsnippet
