<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2016-05-04T23:46:28Z</date>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitStandardFont</key>
	<string>.Helvetica Neue DeskInterface</string>
	<key>darkTheme</key>
	<integer>0</integer>
	<key>dayColorTemp</key>
	<integer>6500</integer>
	<key>disable-com.apple.Terminal</key>
	<false/>
	<key>disable-com.googlecode.iterm2</key>
	<false/>
	<key>disableCount</key>
	<integer>0</integer>
	<key>expandedDay</key>
	<integer>1</integer>
	<key>lateColorTemp</key>
	<real>2600</real>
	<key>lateLock</key>
	<integer>0</integer>
	<key>location</key>
	<string>94025</string>
	<key>locationTextField</key>
	<string>94025</string>
	<key>locationType</key>
	<string>Z</string>
	<key>melanopicDisable</key>
	<integer>0</integer>
	<key>moveToApplicationsFolderAlertSuppress</key>
	<true/>
	<key>nightColorTemp</key>
	<integer>3400</integer>
	<key>steptime</key>
	<real>16</real>
	<key>version</key>
	<integer>3</integer>
	<key>wakeNotifyDisable</key>
	<integer>1</integer>
	<key>wakeTime</key>
	<integer>240</integer>
</dict>
</plist>
